.block {
  width: calc( var(--block-size));
  height: calc( var(--block-size));
  object-fit: contain;
}

.borderless-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;

  width: calc( var(--block-size));
  height: calc( var(--block-size));
}
