.block {
  width: calc(var(--block-size));
  height: calc(var(--block-size));
}

.borderless-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;

  width: calc(var(--block-size));
  height: calc(var(--block-size));
}

@media (max-width: 599px) {
  .design-grid .borderless-button {
    /* To prevent faint white lines in between images on mobile */
    margin: -0.5px;
  }
}
